.pk-accordion__section-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.pk-accordion__section-title {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.pk-accordion__section-trigger {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.pk-accordion__section-content {
  padding: 1rem;
}
